    margin: 0;
    padding: 0;
    box-sizing: border-box; 

body {
    font-family: Arial, sans-serif; 
    background-color: #ffffff; 
    color: #333; /
}


header {
    background-color: #7032c0; 
    color: #ffffff; 
    padding: 20px; 
    text-align: center; 
}


nav ul {
    list-style-type: none; 
    padding: 0; 
}

nav ul li {
    display: inline; 
    margin: 0 15px; 
}

nav a {
    color: #000000; 
    text-decoration: none; 
}

nav a:hover {
    text-decoration: underline; 
}


main {
    padding: 20px; 
    background-color: #ffffff; 
    margin: 20px; 
    border-radius: 5px; 
}


footer {
    text-align: center; 
    padding: 10px 0; 
    background-color: #7032c0; 
    color: #ffffff;
}
